

        <h1>CONTACTANOS</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7349.365486675235!2d-47.103456974766715!3d-22.92506981352956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c85d94c4d97f%3A0x6c2d2c16baf28859!2sChocobol!5e0!3m2!1ses!2sbo!4v1652908221872!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     
        <div class="container">
            <div class="row">
                <div class="col-ms-5">
                    <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="nombre" name="txtusuario" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Numero de celular</label>
            <input type="celular" name="txtpassword" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Correo</label>
            <input type="Email" name="txtpassword1" class="form-control" id="exampleInputPassword1">
        
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Asunto</label>
            <input type="asunto" name="txtpassword1" class="form-control" id="exampleInputPassword1">
        
          </div>
          <button type="submit" class="btn btn-primary">Mandar</button>
                    
            </div>
            
          </div>
          
        </div>
        
        <font color="Gray">Correo: chocoBol@gmail.com</font><br>
        <font color="Gray">Numero: 75442523</font><br>
        <font color="Gray">Empresa: Chocobol</font>
          
                    
            
        