 <div class="frames">
    <div class="frame 1st" style="width: 30%;">
        <img
            src="../../assets/images/logo.png"
            alt=""
            />
    </div>
    <div class="frame 2nd" style="width: 70%;">
        <div id="carousel" class="carousel slide"
            data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner">
                        <img src="../../assets/images/prod1.png">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="banner">
                        <img src="../../assets/images/prod2.png">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="banner">
                        <img src="../../assets/images/prod3.png">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="banner">
                        <img src="../../assets/images/prod4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container" style="padding-top: 50px; background-color:white">
        <div class="row">
            <h1>DISFRUTA DE NUESTROS DESCUENTOS</h1>
            <hr
            style="color: #5f4125; background-color: #382614; width:100%;"size="6px"
            />
            <img src="../../assets/images/desc3.jpg" style="height:100px;">
            <p style="font-size: 25px;">¿Estás buscando un producto barato? No te preocupes, lleva 3 o más productos y consigue un descuento del <span style="font-size:80px">10%</span></p>
            <div class="col">
                <hr
                    style="color: black; background-color: black; width:100%;"size="6px"
                    />
                    <img src="../../assets/images/prod1.png">
            </div>
            <div class="col">
                <hr
                    style="color: black; background-color: black; width:100%;"size="6px"
                    />
                    <img src="../../assets/images/prod2.png">
            </div>
            <div class="col">
                <hr
                style="color: black; background-color: black; width:100%;"size="6px"
                />
                <img src="../../assets/images/prod4.png">
            </div>
        </div>
    </div>
</section>